[Unit]
Description=zpool scrub on %i

[Service]
Type=oneshot
ExecStart=/usr/bin/zpool scrub %i
KillSignal=SIGINT
Nice=19
CPUSchedulingPolicy=idle
IOSchedulingClass=idle
