[Unit]
Description=Monthly zpool scrub on %i

[Timer]
OnCalendar=Sat *-*-1..7 02:00:00
OnCalendar=Sat *-*-15..21 02:00:00

[Install]
WantedBy=timers.target
