[Unit]
Description=Check ZFS pool status
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/opt/zfs/tools/zpoolstatuscheck
Nice=19
CPUSchedulingPolicy=idle
IOSchedulingClass=idle
